/* {% load static %} */

body {
    position: relative;
    
    background-image: url('../images/image proposal.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3); /* Adjust the last value (0.3) to control transparency */
    z-index: -1;

    color: #ffffff; /* Adjust text color to ensure readability */
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form, .form-container {
    background-color: rgba(0, 0, 0, 0.297); /* More transparent overlay */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.login-form h2, .form-container h2 {
    margin-bottom: 20px;
    color: #ffffff; /* Ensure the text color is white for visibility */
}

.login-form form, .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form button, .form-container button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.login-form button:hover, .form-container button:hover {
    background-color: #0056b3;
}

/* Form Styles */
.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; /* Ensure the text color is white for visibility */
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Additional styles for the forgot password link */
.btn-link {
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline;
}
